.About {
    text-align: center;
    background-image: url(/bam.png);
    background-size: cover;

    background-attachment: fixed;
   
    
    min-height: 100vh;
    
}
.About h1{
color: white;
}

.About br{
    color: white;
    }