.About {
    text-align: center;
    background-image: url(/bam.png);
    background-size: cover;

    background-attachment: fixed;
   
    color: white;
    min-height: 100vh;
    
}
.About h1{
color: white;
}

.About br{
  color: white;
}

.About .body{
    background-color: white;
    opacity: 80%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin: 5%;
    padding: 5%;
    text-align: left;
}
.About .body h2{
    text-align: center;
}