.Impact {
    text-align: center;
    background-image: url(/bam.png);
    background-size: cover;

    background-attachment: fixed;
   
    color: white;
    min-height: 100vh;
    
}
.Impact h1{
color: white;
}

.Impact h3{
    color: white;
    }

    .text {
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 40%;
        opacity: 80%;
        background-color: white;
        color: black;
    }