.App {
    text-align: center;
    background-image: url(/bam.png);
    background-size: cover;

    background-attachment: fixed;
   
    
    min-height: 100vh;
    
}
.App h1{
color: white;
}

.App h3{
    color: white;
    }
