.Update {
    text-align: center;
    background-image: url(/bam.png);
    background-size: cover;

    background-attachment: fixed;
   
    
    min-height: 100vh;
    
}
.Update h1{
    color: white;
    }
    
    .Update h3{
        color: white;
        }
    